.form-user
	.form-user__head
		.form-user__image
			if (data.image)
				img(src=data.image)
			button.form-user__image-button(type="button" data-action="avatar") Поменять аватар
		//.form-user__title #{data.fields['display_name'].value}
	fieldset.form-user__body
	.form-user__footer
		a.form-user__button(href=ROUTES.user.edit) Изменить данные
		a.form-user__button(href=ROUTES.user.password) Изменить пароль
		a.form-user__signout(href=ROUTES.auth.signout) Выйти
