form.form-file(action=props.action method="POST")
	.form-file__head
		.form-file__title #{props.value ? 'Файл загружен' : 'Загрузите файл'}
	.form-file__body
		label.form-file__label
			if (props.value)
				.form-file__value #{props.value.name}
			else
				.form-file__placeholder Выбрать файл</br>на компьютере
			input.form-file__input(
				data-ref="input"
				type='file'
				name=props.input.name
				accept=(props.input.accept ? props.input.accept.join(',') : undefined)
			)
	if (props.value)
		.form-file__footer(data-ref="footer")
