include ../../common/templates/functions/mods

mixin Message(data)
	-
		data = data || {}
	.message(
		class=data.class
		class=mods('message', data.mods)
	)&attributes(data.attributes)
		if (data.text)
			.message__text !{data.text}
		if (data.image)
			.message__image
				img(src=data.image)
		if (data.status || data.date)
			.message__info
				if (data.status)
					.message__status <<
				if (data.date)
					.message__date !{data.date}
